@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'IBMPlexSansKR-Regular';
}
*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color:black;
}
.container{
	width:1200px;
	margin:0px auto;
}

/* 내비 */
nav{
	position:relative;
	height:30px;
	border-bottom:#5495b2 2px solid;
	text-align:center;
	
}
nav li{
	list-style:none;
	display:inline;
	padding-left:30px;
	padding-right:30px;
	font-size:17px;
}
#thisPage{
	color:#5495b2;
	font-weight:bold;
}



/* 섹션 */
section{
	position:relative;
	box-sizing:border-box;
	width:1200px;
	float:right;
}

/* 글목록 */
.boardList{
	border-collapse:collapse;
	box-sizing:border-box;
	display:inline-block;
	width:320px;
	height:340px;
	font-size:14px;
	margin:40px 35px 20px 35px;
}
.firstTd{
	width:300px;
	height:200px;
}
.firstTd img{
	width:320px;
	height:210px;
}
.classWriter{
	font-size:12px;
	font-weight:bold;
}
.classRec{
	padding-top:5px;
	padding-bottom:10px;
	font-size:14px;
	color:#8C8C8C;
}
.classRec img{
	height:15px;
}
.pagingMove{
	font-size:18px;
}
.pagingMove:hover{
	color:#5495b2;
}
.priceTd{
	font-size:17px;
	border-top:#C3C3C3 1px solid;
	padding-top:10px;
}

/* 검색 */
.searchTable{
	width:300px;
	margin:20px auto;
}
.searchTable select{
	border:none;
	width:87px;
	height:30px;
}
.searchTable select:focus{
	outline:none;
}
#search{
	border:none;
	width:150px;
	height:30px;
}
#search:focus{
	outline:none;
	border-bottom:1px solid #C3C3C3;
}
.searchTable img{
	height:15px;
	cursor:pointer;
}


/* 페이징 */
#boardPage{
	position:relative;
	text-align:center;
	padding:10px 0px 30px 0px;
}
#boardPage li{
	display:inline;
	list-style:none;
	padding:5px 15px;
}
.paginateBtn img{
	height:12px;
}


