@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'IBMPlexSansKR-Regular';
}
*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color:black;
}
.container{
	width:1200px;
	margin:0px auto;
}

/* 내비 */
nav{
	position:relative;
	height:30px;
	border-bottom:#5495b2 2px solid;
	text-align:center;
	
}
nav li{
	list-style:none;
	display:inline;
	padding-left:30px;
	padding-right:30px;
	font-size:17px;
}
#thisPage{
	color:#5495b2;
	font-weight:bold;
}



/* 섹션 */
section{
	position:relative;
}
section table{
	border-collapse:collapse;
	box-sizing:border-box;
	width:800px;
	margin:20px auto;
}
section td{
	padding-bottom:5px;
}
.tdlabel{
	padding-top:22px;
	color:#4C4C4C;
}
.h1Td{
	text-align:center;
	padding:20px;
}
.titleTd input{
	box-sizing:border-box;
	width:800px;
	height:45px;
	padding-left:13px;
	border:1px solid #C3C3C3;
	border-radius:3px;
	font-family: 'IBMPlexSansKR-Regular';
}
textarea{
	box-sizing:border-box;
	width:100%;
	heigth:470px;
	padding:13px;
	border:1px solid #C3C3C3;
	border-radius:3px;
	font-family: 'IBMPlexSansKR-Regular';
}
.categoryMenu{
	margin-left:15px;
}

/* 버튼 */
#regBtnTd{
	text-align:center;
	padding-bottom:20px;
}
#resetBtn{
	box-sizing:border-box;
	width:153px;
	height:50px;
	border-radius:3px;
	border:1px solid #C3C3C3;
	color:#999;
	background:white;
	font-size:16px;
}
#submitBtn{
	box-sizing:border-box;
	width:153px;
	height:50px;
	border-radius:3px;
	border:1px solid #5495b2;
	color:white;
	background:#5495b2;
	font-size:16px;
}
